@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e5e5e5;
  --ring: #a3a3a3;
}

.dark {
  --background: #000000;
  --foreground: #a3a3a3;
  --border: #262626;
  --ring: #525252;
}

@theme inline {
  --font-mono: "Geist Mono", "Geist Mono Fallback", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}
